.item {
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
}

.item__title, .item__link {
  font-size: 20px;
  color: #2b2b2b;
}

.item__link:hover {
  color: #7f7f7f;
  text-decoration: underline;
}

.item__link {
  text-decoration: none;
}

.item__host {
  font-size: 14px;
  color: #7f7f7f;
  margin-left: 5px; 
}

.item__description {
  font-size: 16px;
  color: #7f7f7f;
}

.item__user-link {
  color: #15a3c6;
}

.item__user-link:hover {
  color: #7f7f7f;
  text-decoration: none;
}

.item__text {
  margin-top: 10px;
}

.item__comment-stats {
  margin: 10px 0;
  font-size: 18px;
  color: #7f7f7f;
}